# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# Project settings
.idea/

# DS_Store
.DS_Store

# Results are stored in CSV format and we don't want to include them
*.csv
